@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/*
 ______________________________________________
|                                              |
|     DEFAULT BODY AND OTHER CSS TAG           |
|______________________________________________|
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue-theme: #000918;
  --lightBlue-shade: #e7effc;
  --font-shade: #fff;
  --btn-shadow: #bbbbbb;
  --songFont-color: #6c7a94;
  --btn-angleShadow: rgb(148, 148, 148);
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 1000px;
  margin: auto;
  margin-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

main {
  width: 1000px;
  margin: auto;
  margin-top: 1rem;
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenuDiv {
  width: 600px;
}

.navMenuList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navitems a {
  display: flex;
}

.navLink {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#darkMode {
  display: none;
  cursor: pointer;
}

#lightMode {
  cursor: pointer;
}

/* HOME SECTION */

.homeSection {
  height: 100vh;
  margin-top: 7rem;
}

.socialMwdiaAndBlob {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.socialMediaLinks {
  margin: 1rem 0rem;
  margin-right: 7rem;
}

.myDetails {
  width: 410px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.myDesc {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  width: 350px;
}

.contactMeBtn {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  /* text-shadow: 1px 1px 0px black; */
  /* box-shadow: 1px 1px 1px black; */
  padding: 20px 30px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: black;
  cursor: pointer;
  outline: none;
}

.contactMeBtn:hover,
.contactMeBtn:active {
  outline: none;
  cursor: pointer;
  /* color: #14396A !important; */
  /* background: #468CCF; */
  /* background: linear-gradient(to top, #468CCF, #63B8EE); */
}

.blobGenerator {
  margin-left: -4rem;
}

#blobSvg {
  width: 400px;
}

.scrollDownBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-left: 11.5rem;
  cursor: pointer;
  width: 150px;
}

#mouseIcon,
.scrollDown,
#angleDownIcon {
  margin: 0.2rem;
}

.scrollDown {
  font-size: 15px;
}

/* ABOUT SECTION */

.aboutSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.mainHeadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutMeHeading {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  font-weight: 700;
  margin-top: 0rem;
}

.myImg {
  width: 300px;
}

.imgAndDescDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.aboutMeDesc {
  font-size: 1.2rem;
  font-weight: 400;
  width: 365px;
}

.descriptionAndCvDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2.5rem 0rem;
}

.expAndProjects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 365px;
  margin: 2.5rem 0rem;
}

.yearsDiv,
.projectsDiv {
  display: flex;
  flex-direction: column;
}

.yearExp,
.projectNo {
  font-size: 2rem;
}

.yearAndPrjctDes {
  font-weight: 400;
}

.downloadCvBtn {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  /* text-shadow: 1px 1px 0px black; */
  /* box-shadow: 1px 1px 1px black; */
  padding: 20px 30px;
  width: 220px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: black;
  cursor: pointer;
  outline: none;
}

.downloadCvBtn:hover,
.downloadCvBtn:active {
  outline: none;
  cursor: pointer;
  /* color: #14396A !important; */
  /* background: #468CCF; */
  /* background: linear-gradient(to top, #468CCF, #63B8EE); */
}

/* SKILL SECTION */

.skillSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.skillHeadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skillHeading {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
  font-weight: 700;
  margin-top: -5rem;
}

.allSkillsList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: space-between;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 60px;
  margin-top: 5rem;
}

.skillData {
  width: 315px;
  background-color: #6c7a94;
  border-radius: 10px;
}

.skillsTitleAndICon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.skillsIcon {
  font-size: 1.2rem;
}

.skillName {
  font-size: 1.1rem;
}

.skillBar {
  width: 300px;
  background-color: rgba(199, 196, 196, 0.76);
  height: 10px;
  border-radius: 10px;
  margin: 6px auto;
  margin-top: 4px;
}

.skillPercentageHTML {
  width: 90%;
  background-color: red;
  height: 10px;
  border-radius: 10px;
}

#flutterIcon {
  width: 20px;
}
